{% extends '::base.html.twig' %}
{% block body %}
    <h3>Parametres of dog</h3>
    <p>My dog ​​has a <b>{{ dog_coat }}</b> coat</p>
    <p>Weight of my dog ​​a little over than <b>{{ dog_weight }}</b> kilograms</p>
{% endblock %}