<html>
<head>
    <title>My dog</title>
</head>
<body>
<p>Hello friends!</p>
<p>I want to tell you about my dog</p>
<p>My dog name is <b>{{ dog_name }}</b></p>
<p>Breed of my dog is <b>{{ dog_breed }}</b></p>
<p>Age of my dog is <b>{{ dog_age }}</b></p>
<hr>
</body>
</html>